.description {
  background-image: url("../assets/img/animes.jpg");
  background-size: cover;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.imgen{
  object-fit: cover;
}


.label{
  padding-left: 15px;
  padding-right: 15px;
  color:black !important;
}
.label span{
  color:#69746e;
  font-size: 15px;
}

.label-content{
  margin-top: 20px;
  font-weight: 400 !important;
  font-size: 20px !important;
  color:black !important;
}
.label-content span{
  font-weight: 15px;
  color:#69746e;
}
.abstract{
  max-height: 400px;
  overflow: auto;
}