.bg {
  background-image: url("../assets/img/bganime36.jpg");
  background-size: cover;
  width: 100%;
  height: 120%;
  min-height: inherit;
}

.loginCard {
  position: absolute;
  right: 0;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-right: 80px;
  margin-top: 10px;
}

.loginCard img {
  width: 150px;
  height: 100px;
}
.text{
  color:white
}

.title{
  color: white;
  font-size: 25px !important;
  font-weight: 7px !important;
}